body {
    font-family: Arial, sans-serif;
}

.page {
    max-width: 816px;
    margin: auto;
    padding: 0, 24px;
    text-align: center;
}

.functions-container {
    padding: 16px; /* 内边距 */
    display: flex; /* 水平排列子元素 */
    align-items: center; /* 垂直居中子元素 */
}

.functions {
    display: flex; /* 水平排列子元素 */
    gap: 12px;
}

.dropDown {
    position: relative;
}

.section {
    /* Set Vertical Arrangement */
    display: none;
    width: 100%;
    background-color: #EDEFF2;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    flex-direction: column;
    position: absolute;
    gap: 2px;
}

input[type="file"] {
    display: none;
}

.convolution-array {
    /* If there are 9 children, make it 3x3; else if there are 25 children, make it 5x5; ... */
    grid-template-columns: repeat(auto-fill, minmax(32px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(32px, 1fr));
    gap: 2px;
    padding: 2px;
    border: 1px solid #000000;
    border-radius: 8px;
}

.convMatrix3, .convMatrix5, .convMatrix7 {
    display: inline;
}

